.header {
    /*height: 100%;*/
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "i n n . . . . . . r l g";
}
.header_img{
  border-radius: 50%;
}
.icon {
    grid-area: i;
}
.name {
    grid-area: n;
    color:white;
}
.linkedin {
    grid-area: l;
}
.github {
    grid-area: g;
}
.resume {
    grid-area: r;
}
.cover{
    grid-area: c;
}
.content {
    /*height: 100%;*/
    background-color: gray;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "p p p p p p p p p p p p"
        ". j j . . . . . . w w .";
}
.cover {
    padding:20px;
    grid-area: p;
}
.jerryseinfeld{
    grid-area: j;
    color:white;
}
.winstonchurchill{
  grid-area: w;
  color:white;
}
.footer{
  color:white;
  background-color: black;
}
